---
layout: default
---
<header class="app-bar promote-layer">
  <div class="app-bar-container">
    <button class="menu"><img src="images/hamburger.svg" alt="menu"></button>
    <h1 class="logo">{{ site.title }}</h1>
  </div>
</header>
 
{{ content }}

{% include layout/footer.html %}
<!-- google analytics -->
<script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
  function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='//www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','{{ site.analytics }}');ga('send','pageview');
</script>
<!-- Built with love using Web Starter Kit -->

