---
layout: main
---
<nav class="navdrawer-container promote-layer">
    <ul>
        {% for section in site.data.sections %}
            <li><a href="#{{ section.id }}" class="to-{{ section.id }}">
                    {{ section.name }}
            </a></li>
        {% endfor %}
    </ul>
</nav>
<main>
    {% for section in site.data.sections %}
        <div class="section">
            <h2 id="{{ section.id }}">
                {{ section.name }}
            </h2>
            <hr />

            <ul>
                <li>
                    This
                </li>
                <li>
                    is
                </li>
                <li>
                    a
                </li>
                <li>
                    section
                </li>
            </ul>
        </div>
    {% endfor %}
</main>


